* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
}

.left {
    width: 70%;
    float: left;
}

h1 {
    margin-bottom: 40px;
}

/* ======================== */

#field {
    width: 320px;
    height: 320px;
    box-sizing: content-box;
    border: 1px solid black;
    margin: 0 auto; 
}

#field::after {
    content: "";
    display: block;
    clear: both;
}

.chess-block {
    width: 40px;
    height: 40px;
    float: left;
}

.bg-black {
    background: #525252;
}

.active {
    background-image: url('./images/horse_white.png');
    background-color: orange;
    background-size: 100% 100%;
}

.green {
    background-image: url('./images/horse_white.png');
    background-color: green;
    background-size: 100% 100%;
    
}